<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='styles/signin.css')}}"
    />
    <!-- 各ページ専用タイトルを挿入するブロック -->
    <title>新規登録画面</title>
  </head>

  <body>
    <h1>新規登録フォーム</h1>
    <form method="post" action="{{ url_for('signin') }}">
      <label for="username"
        >ユーザー名:
        <input type="text" id="username" name="username" required />
      </label>
      <br />
      <label for="password"
        >パスワード:
        <input type="password" id="password" name="password" required />
      </label>

      <br />
      <button type="submit">新規登録</button>
    </form>
    <a href="/">登録済みの方はこちら</a>
  </body>
</html>
