.setting {
  position: fixed;
  top: 60px;
  left: 0;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  background-color: #d2eaff;
  width: 100%;
  height: 80px;
  align-items: center;
  box-sizing: border-box;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 40px;
}

.filter {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-left: 16px;
}

select {
  height: 32px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 4px 8px;
}

.sortValue {
  margin-left: 20px;
}

.categoryContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 20%;
}

h1 {
  margin-top: 160px;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 30px;
  padding: 20px 40px;
}

th,
td {
  border: none;
  padding: 10px;
}

th {
  border-bottom: 2px solid #000;
  text-align: center;
}

td {
  border-bottom: 1px solid #a0a0a0;
  text-align: center;
}

.buttonArea {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}
